&lt;article class=&quot;post&quot;&gt;
  &lt;header class=&quot;post_title&quot;&gt;&lt;a href=&quot;{{ post.url }}&quot;&gt;{{ post.title }}&lt;/a&gt;&lt;/header&gt;
  &lt;p class=&quot;post_summary&quot;&gt;{{ post.summary }}&lt;/p&gt;
&lt;/article&gt;
