&lt;div class=&quot;postNav buttons buttons_autosize buttons_secondary&quot;&gt;
  &lt;a href=&quot;http://bmuenzenmeyer.github.io/pattern-lab-node-0-8-0-released&quot; title=&quot;Pattern Lab Node 0.8.0 Released&quot;&gt;Newer Post&lt;br/&gt;Pattern Lab Node 0.8.0 Released&lt;/a&gt;
  &lt;a href=&quot;http://bmuenzenmeyer.github.io/using-patternlab-to-design-build-and-maintain-a-website&quot; title=&quot;Using Pattern Lab to Design, Build and Maintain a Website&quot;&gt;Older Post&lt;br/&gt;Using Pattern Lab to Design, Build and Maintain a Website&lt;/a&gt;
&lt;/div&gt;
