<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #B2F33C;"></span>
		<span class="sg-label">#B2F33C</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #55731D;"></span>
		<span class="sg-label">#55731D</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #CEF586;"></span>
		<span class="sg-label">#CEF586</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #4c4c4c;"></span>
		<span class="sg-label">#4c4c4c</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #666666;"></span>
		<span class="sg-label">#666666</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #b2b2b2;"></span>
		<span class="sg-label">#b2b2b2</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #f2f2f2;"></span>
		<span class="sg-label">#f2f2f2</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #C93CF3;"></span>
		<span class="sg-label">#C93CF3</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #8208A6;"></span>
		<span class="sg-label">#8208A6</span>
	</li>
</ul>