<p class="font-base">Base font: Arial, Tahoma, sans-serif;</p>
<p class="font-base"><em>Base font italic: Arial, Tahoma, sans-serif;</em></p>
<p class="font-base"><strong>Base font bold: Arial, Tahoma, sans-serif;</strong></p>
<p class="font-web">Web font: 'Lato', Arial, Tahoma, sans-serif;</p>
<p class="font-web"><em>Web font: 'Lato', Arial, Tahoma, sans-serif;</em></p>
<p class="font-web"><strong>Web font: 'Lato', Arial, Tahoma, sans-serif;</strong></p>