  &lt;p class=&quot;feature-block dotted&quot;&gt;This version of brianmuenzenmeyer.com is an ongoing, open redesign &amp;mdash; showcasing design challenges and decisions along the way. I hope it&apos;s instructive and participatory. Read more about the &lt;a href=&quot;site-redesign-in-the-open/index.html&quot;&gt;open redesign here&lt;/a&gt;.&lt;/p&gt;
