&lt;div class=&quot;masthead pat dotted&quot;&gt;
  &lt;header&gt;
    &lt;h1 class=&quot;&quot;&gt;&lt;a href=&quot;http://brianmuenzenmeyer.com&quot;&gt;HI HI I&amp;apos;M BRIAN&lt;/a&gt;
    &lt;/h1&gt;
  &lt;/header&gt;
&lt;/div&gt;