/* Headings */
/*Further Reading: http:/csswizardry.com/2012/02/pragmatic-practical-font-sizing-in-css/ */
h1, .alpha   { 
	line-height: 1.2;
  font-size: 4rem;
  font-weight: 300;
  margin: 1rem auto;
}

h2, .beta    { 
	line-height: 1.2;
  font-size: 3rem;
  font-weight: 300;
  margin: 1rem auto;
}

h3, .gamma   { 
	line-height: 1.2;
  font-size: 2.25rem;
  font-weight: 300;
  margin: 1rem auto;
}

h4, .delta   {
	font-size: 1.75rem;
  font-weight: 300;
  margin: 1rem auto;
}

h5, .epsilon { 
  font-size: 1.25rem;
  font-weight: 300;
  margin: 1rem auto;
}

h6, .zeta    { 
  font-size: 1rem;
  font-weight: 300;
  margin: 1rem auto;
}