* { box-sizing: border-box; }

html{
  font-size: 100%;
}

body{
  background: $white;
  font: 18px/150% $font;
  -webkit-text-size-adjust: 100%;
  color: $gray-dark;
  margin: 0 .5em;
}

main, footer{
  @media all and (min-width: $bp-small){
    width: 800px;
    margin: 0 auto;
  }
}

hr{
  margin: $space-triple auto;
}

footer{
  img{
    width: 100%;
    margin: $space auto;
  }
  @media all and (min-width: $bp-small){
    img{
      float: left;
      height: 8em;
      width: auto;
      margin-right: $space;
    }
  }
}