p + p{
    margin-top: .5rem;
}

blockquote {
  @extend .feature-block;
  margin: $space auto;
}

hr{
  margin: $space-triple auto;
}

abbr {
}

blockquote.contrasted{
  background-color: rgba(1,1,1,.1);
  text-align: right;
  padding-left: 32px;
  font-size: .75em;
  color: $white-alt;
  cite a{
    color: $green;
  }
  &:after{
    display: inline-block;
    position: relative;
    float: left;
    top: -13px;
    left: -.5em;
    height: 32px;
    width: 32px;
    font-size: 4em;
    color: $green;
    content: '\201C';
  }

}
