p {
    line-height: 1.5em;
}

p + p{
    margin-top: .5rem;
}

blockquote {
  border: 1px dotted $gray-light;
  padding: $space-half;
  margin: 1rem auto;
}

hr{
  margin: $space-triple auto;
}

abbr {
}