<h1 class="subheading">Heading Level 1</h1>
<h2 class="subheading">Heading Level 2</h2>
<h3 class="subheading">Heading Level 3</h3>
<h4 class="subheading">Heading Level 4</h4>
<h5 class="subheading">Heading Level 5</h5>
<h6 class="subheading">Heading Level 6</h6>