/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/

//Colors

$green: #B2F33C;
$green-dark: #55731D;
$green-light: #CEF586;
$gray-dark : #4c4c4c;
$gray : #666;
$gray-light: #b2b2b2;
$white-alt: #f2f2f2;
$purple: #C93CF3;
$purple-dark: #8208A6;
$white : #fff;
$black : #111;

//Typography
$font : 'Overpass', Arial, Tahoma, sans-serif;
$display-font: 'Overpass', Arial, Tahoma, sans-serif;

$font-size-base: 18px;

//Layout
$max-width: 60rem;
$offset-left-1: 4.5rem;

//Defaults
$space : 1rem;
$space-and-half : $space*1.5;
$space-double : $space*2;
$space-triple : $space*3;
$space-quad : $space*4;
$space-half : $space/2;
$space-quarter : $space/4;
$pad : 1rem;
$pad-and-half : $pad*1.5;
$pad-double : $pad*2;
$pad-half : $pad/2;
$pad-quarter :$pad/4;

//Borders
$border-med: 3px;
$border-thick: 7px;

//Breakpoints
$bp-small: 45em;
$bp-medium: 90em;
