/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/

//Colors
$gray : #666;
$gray-dark : #4c4c4c;
$white : #fff;
$black : #000;

//Typography
$font : 'Lato', Arial, Tahoma, sans-serif;;
$font-secondary : Georgia, Times, "Times New Roman", serif;

$font-size-norm : 1em;
$font-size-slightly-larger : 1.0625em;
$font-size-slightly-smaller : 0.875em;
$font-size-sm : 0.75em;
$font-size-large : 1.4375em;

//Layout
$max-width: 72rem;
$offset-left-1: 4.5rem;

//Defaults
$space : 1rem;
$space-and-half : $space*1.5;
$space-double : $space*2;
$space-triple : $space*3;
$space-quad : $space*4;
$space-half : $space/2;
$space-quarter : $space/4;
$pad : 1rem;
$pad-and-half : $pad*1.5;
$pad-double : $pad*2;
$pad-half : $pad/2;
$pad-quarter :$pad/4;

//Borders
$border-med: 3px;
$border-thick: 7px;

//Breakpoints
$bp-small : 45em;
