<div class="postNav buttons buttons_secondary">
  <a href="http://bmuenzenmeyer.github.io/pattern-lab-node-0-8-0-released" title="Pattern Lab Node 0.8.0 Released">Newer Post<br/>Pattern Lab Node 0.8.0 Released</a>
  <a href="http://bmuenzenmeyer.github.io/using-patternlab-to-design-build-and-maintain-a-website" title="Using Pattern Lab to Design, Build and Maintain a Website">Older Post<br/>Using Pattern Lab to Design, Build and Maintain a Website</a>
</div>
