&lt;div class=&quot;align-center&quot;&gt;
  &lt;blockquote&gt;&amp;ldquo;Above all, I have been a sentient being, a thinking animal, on this beautiful planet, and that in itself has been an enormous privilege and adventure.&amp;rdquo; &lt;cite&gt;&lt;a href=&quot;http://mobile.nytimes.com/2015/02/19/opinion/oliver-sacks-on-learning-he-has-terminal-cancer.html&quot;&gt;Oliver Sacks&lt;/a&gt;&lt;/cite&gt;&lt;/blockquote&gt;  
&lt;/div&gt;