<div class="buttons">
  <a href="#">Button</a>
  <a href="#">Button</a>
  <a href="#">Button</a>
</div>

<div class="buttons buttons-capped">
  <a href="https://twitter.com/bmuenzenmeyer">Twitter</a>
  <a href="mailto:brian.muenzenmeyer@gmail.com">Email</a>
  <a href="https://github.com/bmuenzenmeyer">Github</a>
  <a href="http://codepen.io/bmuenzenmeyer/">Codepen</a>
</div>

<div class="buttons buttons-secondary">
  <a href="https://twitter.com/bmuenzenmeyer">Twitter</a>
  <a href="mailto:brian.muenzenmeyer@gmail.com">Email</a>
  <a href="https://github.com/bmuenzenmeyer">Github</a>
  <a href="http://codepen.io/bmuenzenmeyer/">Codepen</a>
</div>

<a class="button-alt" href="">A Stunning Button</a>
