{{> molecules-social-buttons }}
<img src="http://www.brianmuenzenmeyer.com/img/brian.jpg" alt="A picture of me in grey." class="bio"/>

<p>I spend my working days in ux/ui design and my waking nights maintaining the <a href="https://github.com/pattern-lab/patternlab-node">node port</a> of Brad Frost and Dave Molsen’s Pattern Lab and moonlighting as <a href="http://crunchyowl.com">Crunchy Owl</a>, a small studio. I am interested in the intersection of performance and responsive design to craft better things that reach more people. I live in Northeast Wisconsin with my wife, young son, 2 cats and 3 coffee makers. When not online, I am digging up the yard, wearing an afghan, talking about something I heard on public radio, dressing in grayscale, or pretending to play the piano. The best way to reach me is on Twitter <a href="https://twitter.com/bmuenzenmeyer">@bmuenzenmeyer</a>.</p>

<hr class="cf"/>

{{> molecules-postscript }}

<p><small>Be kind. Share things you find here in source or on screen. Words CC BY 4.0 Code WTFPL </small></p>
