
&lt;a href=&quot;http://www.crunchyowl.com&quot; class=&quot;crunchy-hero&quot;&gt;&lt;img src=&quot;http://www.brianmuenzenmeyer.com/img/owl.png&quot; alt=&quot;My small design studio, Crunchy Owl&quot;/&gt;&lt;/a&gt;

&lt;div class=&quot;bg-green&quot; style=&quot;z-index: 2; position: relative;&quot;&gt;
  &lt;p class=&quot;align-center affordance-inner&quot;&gt;Crunchy Owl is my small web design and development shop. I hand-craft fast, right-sized solutions.&lt;/p&gt;
&lt;/div&gt;

{{&gt; atoms-chevron }}

&lt;div class=&quot;align-center&quot;&gt;
  &lt;a href=&quot;mailto:hi@crunchyowl.com&quot; class=&quot;button button-call&quot;&gt;GIVE A HOOT&lt;/a&gt;
  &lt;p class=&quot;affordance-inner&quot;&gt;
    &lt;em&gt;Let&apos;s talk your next project.&lt;/em&gt;
  &lt;/p&gt;
&lt;/div&gt;
