&lt;div class=&quot;buttons&quot;&gt;
  &lt;a href=&quot;https://twitter.com/bmuenzenmeyer&quot;&gt;&lt;i class=&quot;fa fa-twitter&quot;&gt;&lt;/i&gt; Twitter&lt;/a&gt; 
  &lt;a href=&quot;mailto:brian.muenzenmeyer@gmail.com&quot;&gt;&lt;i class=&quot;fa fa-envelope&quot;&gt;&lt;/i&gt; Email&lt;/a&gt; 
  &lt;a href=&quot;https://github.com/bmuenzenmeyer&quot;&gt;&lt;i class=&quot;fa fa-github&quot;&gt;&lt;/i&gt; Github&lt;/a&gt; 
  &lt;a href=&quot;http://codepen.io/bmuenzenmeyer/&quot;&gt;&lt;i class=&quot;fa fa-codepen&quot;&gt;&lt;/i&gt; Codepen&lt;/a&gt;
&lt;/div&gt;