&lt;div class=&quot;buttons buttons_large&quot;&gt;
  &lt;a href=&quot;https://twitter.com/bmuenzenmeyer&quot;&gt; Twitter&lt;/a&gt;
  &lt;a href=&quot;https://github.com/bmuenzenmeyer&quot;&gt; Github&lt;/a&gt;
  &lt;a href=&quot;http://codepen.io/bmuenzenmeyer/&quot;&gt; Codepen&lt;/a&gt;
  &lt;a href=&quot;mailto:brian.muenzenmeyer@gmail.com&quot;&gt; Email&lt;/a&gt;
&lt;/div&gt;
