&lt;h2 class=&quot;pat subheading&quot;&gt;Subheading&lt;/h2&gt;
&lt;ul class=&quot;list&quot;&gt;
  {{&gt; molecules-post }}
  {{&gt; molecules-post }}
  {{&gt; molecules-post }}
  {{&gt; molecules-post }}
  {{&gt; molecules-post }}
  {{&gt; molecules-post }}
&lt;/ul&gt;