&lt;div class=&quot;align-center notfound&quot;&gt;
  &lt;h2 class=&quot;subheading&quot;&gt;Lost?&lt;/h2&gt;
  {{&gt; atoms-bear }} &lt;span&gt;&lt;a href=&quot;http://brianmuenzenmeyer.com&quot;&gt;Look over here&lt;/a&gt;&lt;/span&gt;
&lt;/div&gt;