&lt;footer class=&quot;fullbleed&quot;&gt;
  &lt;img src=&quot;http://www.brianmuenzenmeyer.com/img/brian.jpg&quot; alt=&quot;A picture of me in grey.&quot; class=&quot;bio&quot;/&gt;

  &lt;p&gt;I spend my working days in ux/ui design and my waking nights maintaining the &lt;a href=&quot;https://github.com/pattern-lab/patternlab-node&quot;&gt;node port&lt;/a&gt; of Brad Frost and Dave Molsen&CloseCurlyQuote;s Pattern Lab and moonlighting as &lt;a href=&quot;http://crunchyowl.com&quot;&gt;Crunchy Owl&lt;/a&gt;, a small studio. I am interested in the intersection of performance and responsive design to craft better things that reach more people. I live in Northeast Wisconsin with my wife, young son, 2 cats and 3 coffee makers. When not online, I am digging up the yard, wearing an afghan, talking about something I heard on public radio, dressing in grayscale, or pretending to play the piano. The best way to reach me is on Twitter &lt;a href=&quot;https://twitter.com/bmuenzenmeyer&quot;&gt;@bmuenzenmeyer&lt;/a&gt;.&lt;/p&gt;

  &lt;hr class=&quot;cf&quot;/&gt;

  {{&gt; molecules-social-buttons }}

  &lt;hr class=&quot;cf&quot;/&gt;

  {{&gt; molecules-postscript }}

  &lt;p&gt;&lt;small&gt;Be kind. Share things you find here in source or on screen. Words CC BY 4.0 Code WTFPL &lt;/small&gt;&lt;/p&gt;
&lt;/footer&gt;
