&lt;div class=&quot;fullbleed striped&quot;&gt;&amp;nbsp;&lt;/div&gt;
&lt;footer class=&quot;bg-gray fullbleed&quot;&gt;
  &lt;section&gt;

    &lt;div class=&quot;bio&quot;&gt;

      &lt;img src=&quot;http://www.brianmuenzenmeyer.com/img/brian.jpg&quot; alt=&quot;A picture of me in grey.&quot; class=&quot;bio_img&quot;/&gt;
      &lt;p class=&quot;bio_about&quot;&gt;Hi hi, I&apos;m Brian. I maintain &lt;a href=&quot;https://github.com/pattern-lab/patternlab-node&quot;&gt;Pattern Lab Node&lt;/a&gt; and moonlight at &lt;a href=&quot;http://crunchyowl.com&quot;&gt;Crunchy Owl&lt;/a&gt;, my small studio. When not online, I am digging up the yard, wearing an afghan, talking about something I heard on public radio, dressing in grayscale, or pretending to play the piano.&lt;/p&gt;
      &lt;p class=&quot;bio_about&quot;&gt;The best way to reach me is on Twitter &lt;a href=&quot;https://twitter.com/bmuenzenmeyer&quot;&gt;@bmuenzenmeyer&lt;/a&gt;.&lt;/p&gt;
    &lt;/div&gt;

    {{&gt; molecules-social-buttons }}

    {{&gt; molecules-postscript }}

    &lt;p&gt;&lt;small&gt;Be kind. Share things you find here in source or on screen. Words CC BY 4.0 Code WTFPL. Typeset in &lt;a href=&quot;http://overpassfont.org/&quot;&gt;Overpass&lt;/a&gt; &lt;/small&gt;&lt;/p&gt;
  &lt;/section&gt;

&lt;/footer&gt;
