<h2 class="pat subheading">Subheading</h2>
<ul class="list">
  {{> molecules-post }}
  {{> molecules-post }}
  {{> molecules-post }}
  {{> molecules-post }}
  {{> molecules-post }}
  {{> molecules-post }}
</ul>