&lt;article class=&quot;item {{styleModifier}}&quot;&gt;
  &lt;header class=&quot;item_title&quot;&gt;&lt;a href=&quot;{{ post.url }}&quot;&gt;{{ post.title }}&lt;/a&gt;&lt;/header&gt;
  &lt;p&gt;{{ post.summary }}&lt;/p&gt;
&lt;/article&gt;
