&lt;em&gt;This post is part of a series on the &lt;a href=&quot;http://www.brianmuenzenmeyer.com/site-redesign-in-the-open/&quot;&gt;open redesign of brianmuenzenmeyer.com&lt;/a&gt; using atomic design and Pattern Lab.&lt;/em&gt;