&lt;section class=&quot;container item-list {{styleModifier}}&quot;&gt;
  &lt;h2 class=&quot;item alpha&quot;&gt;{{heading}}&lt;/h2&gt;
  {{# listItems.five }}
    {{&gt; molecules-item }}
  {{/ listItems.five }}
&lt;/section&gt;
