<article class="post post-featured">
  <header class="post_title"><a href="{{ post.url }}">{{ post.title }}</a></header>
  <p class="post_summary">{{ post.summary }}</p>
  <img src="http://placehold.it/800x400/#ddd" alt="" class="post_image" />
</article>