&lt;section&gt;
  &lt;div class=&quot;element third align-center compact giga&quot;&gt;
    UX
  &lt;/div&gt;
  &lt;div class=&quot;element third align-center compact giga&quot;&gt;
    UI
  &lt;/div&gt;
  &lt;div class=&quot;element third align-center compact giga&quot;&gt;
    RWD
  &lt;/div&gt;
&lt;/section&gt;
