{{&gt; organisms-header }}

{{&gt; molecules-social-buttons }}

&lt;main id=&quot;container&quot;&gt;
  {{&gt; organisms-items:item_list-left }}

  {{&gt; organisms-items:item_list-right }}

  {{&gt; organisms-crunchyowl-teaser }}

  {{&gt; organisms-crunchyowl-services }}

&lt;/main&gt;

{{&gt; organisms-footer }}
