{{&gt; organisms-header }}

{{&gt; molecules-social-buttons }}

&lt;main id=&quot;container&quot;&gt;
  {{&gt; organisms-items:item_list-left }}

  {{&gt; organisms-items:item_list-right }}

  &lt;section&gt;
  
    {{&gt; organisms-crunchyowl-teaser }}

    {{&gt; organisms-crunchyowl-services }}

  &lt;/section&gt;

&lt;/main&gt;

{{&gt; organisms-footer }}
