&lt;p class=&quot;font-base&quot;&gt;Base font: Arial, Tahoma, sans-serif;&lt;/p&gt;
&lt;p class=&quot;font-base&quot;&gt;&lt;em&gt;Base font italic: Arial, Tahoma, sans-serif;&lt;/em&gt;&lt;/p&gt;
&lt;p class=&quot;font-base&quot;&gt;&lt;strong&gt;Base font bold: Arial, Tahoma, sans-serif;&lt;/strong&gt;&lt;/p&gt;
&lt;p class=&quot;font-web&quot;&gt;Web font: &apos;PT Sans Narrow&apos;, Arial, Tahoma, sans-serif;&lt;/p&gt;
&lt;p class=&quot;font-web&quot;&gt;&lt;em&gt;Web font: &apos;PT Sans Narrow&apos;, Arial, Tahoma, sans-serif;&lt;/em&gt;&lt;/p&gt;
&lt;p class=&quot;font-web&quot;&gt;&lt;strong&gt;Web font: &apos;PT Sans Narrow&apos;, Arial, Tahoma, sans-serif;&lt;/strong&gt;&lt;/p&gt;