
<a href="http://www.crunchyowl.com" class="crunchy-hero"><img src="http://www.brianmuenzenmeyer.com/img/owl.png" alt="My small design studio, Crunchy Owl"/></a>

<div class="bg-green" style="z-index: 2; position: relative;">

  <p class="align-center affordance-inner">Crunchy Owl is my small web design and development shop. I hand-craft effective &amp; performant digital experiences.</p>

</div>

{{> atoms-chevron }}
